<div class="d-sm-flex align-items-center justify-content-between mb-4 mt-3">
    <h1 class="h3 mb-0 text-gray-800">가속도 설정</h1>
</div>
<div class="card o-hidden border-0 shadow-lg my-1 w-100 h-100">
    <div class="card-body p-0">
        <!-- Nested Row within Card Body -->

        <div class="p-5">
            <div class="input-group mb-2 w-100 pl-3">

                <div class="input-group-prepend">
                    <span class="input-group-text" id="encodesettingstr">가까이있을때</span>
                </div>
                <div class="input-group-prepend">
                    <span class="input-group-text" id="shortval" contenteditable="true">0.000</span>
                </div>
                <input type="range" id="shortrange" value="0" min="0" max="2000" class="custom-range w-50 mt-2">
            </div>


            <div class="input-group mb-2 w-100 pl-3">

                <div class="input-group-prepend">
                    <span class="input-group-text" id="encodesettingstr">중간있을때</span>
                </div>
                <div class="input-group-prepend">
                    <span class="input-group-text" id="middleval" contenteditable="true">0.000</span>
                </div>
                <input type="range" id="middlerange" value="0" min="0" max="2000" class="custom-range w-50 mt-2">
            </div>
            <div class="input-group mb-2 w-100 pl-3">

                <div class="input-group-prepend">
                    <span class="input-group-text" id="encodesettingstr">멀리있을때</span>
                </div>
                <div class="input-group-prepend">
                    <span class="input-group-text" id="longval" contenteditable="true">0.000</span>
                </div>
                <input type="range" id="longrange" value="0" min="0" max="2000" class="custom-range w-50 mt-2">
            </div>
            <p class="card-text" id="dontmovex">위의 값은 가속도를 설정하는값들입니다.</p>
            <p class="card-text" id="dontmovex">마우스의 이동속도가 너무 빠를경우 값들을 낮추고 // 너무 느릴경우 값을 올리면됩니다.</p>
            <p class="card-text" id="dontmovex">소수점이 적혀있는 문자를 누르고 값을변경할때 엔터를 눌러야 저장이됩니다.</p>
        </div>
    </div>
</div>