<div class="d-sm-flex align-items-center justify-content-between mb-4 mt-3">
    <h1 class="h3 mb-0 text-gray-800">인식색상</h1>
</div>
<div class="d-sm-flex align-items-center justify-content-between mb-4 mt-3 ml-5">
    <h1 class="h6 mb-0 text-gray-900">색상을 볼려면 더블클릭을하세요.</h1>
</div>
<div class="card o-hidden border-0 shadow-lg my-5 w-100 h-100">
    <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="p-5">
            <div class="input-group mb-3 w-100">
                <div class="input-group-prepend mr-2">
                    <button id="addcolorszb" type="button" value="0" index="1" class="btn btn-danger">레드몸색상추가</button>
                </div>
                <div class="input-group-prepend mr-2">
                    <button id="addcolorszb" type="button" value="0" index="2" class="btn btn-warning">레드헤드색상추가</button>
                </div>
                <div class="input-group-prepend mr-2">
                    <button id="addcolorszb" type="button" value="0" index="3" class="btn btn-primary">블루몸색상추가</button>
                </div>
                <div class="input-group-append mr-2">
                    <button id="addcolorszb" type="button" value="0" index="4" class="btn btn-success">블루헤드색상추가</button>
                </div>
                <div class="input-group-append mr-2">
                    <button id="addcolorszb" type="button" value="0" index="5" class="btn btn-info">기타색상추가</button>
                </div>
            </div>
            <p class="card-text">위의 버튼은 색상 한개씩 추가가 가능합니다.</p>
            <div class="input-group mb-3 w-100">
                <div class="input-group-prepend mr-2">
                    <button id="remorecolor" type="button" value="0" index="1" class="btn btn-danger">레드몸색상제거</button>
                </div>
                <div class="input-group-prepend mr-2">
                    <button id="remorecolor" type="button" value="0" index="2" class="btn btn-warning">레드헤드색상제거</button>
                </div>
                <div class="input-group-prepend mr-2">
                    <button id="remorecolor" type="button" value="0" index="3" class="btn btn-primary">블루몸색상제거</button>
                </div>
                <div class="input-group-append mr-2">
                    <button id="remorecolor" type="button" value="0" index="4" class="btn btn-success">블루헤드색상제거</button>
                </div>
                <div class="input-group-append mr-2">
                    <button id="remorecolor" type="button" value="0" index="5" class="btn btn-info">기타색상제거</button>
                </div>
            </div>
            <p class="card-text">위의 버튼은 한번에 해당되는 색상전부 삭제합니다.</p>
            <div class="input-group mb-3 w-100">
                <div class="input-group-prepend">
                    <button id="resetcolors" type="button" value="0" class="btn btn-danger">색초기화</button>
                </div>

                <div class="input-group-append">
                    <span class="input-group-text" id="inputGroup-sizing-default">색상을 원상복구합니다.</span>
                </div>
            </div>

            <div class="list-group">
                <a id="redsel" href="#" class="list-group-item list-group-item-action justify-content-between align-items-center">RED 팀 몸<span id="redcount" class="badge badge-primary badge-pill" style="float: right;">14</span></a>
                <a id="redhsel" href="#" class="list-group-item list-group-item-action justify-content-between align-items-center">RED 팀 머리<span id="redhcount" class="badge badge-primary badge-pill" style="float: right;">14</span></a>
                <a id="bluesel" href="#" class="list-group-item list-group-item-action justify-content-between align-items-center">BLUE 팀 몸<span id="bluecount" class="badge badge-primary badge-pill" style="float: right;">14</span></a>
                <a id="bluehsel" href="#" class="list-group-item list-group-item-action justify-content-between align-items-center">BLUE 팀 머리 <span id="bluehcount" class="badge badge-primary badge-pill" style="float: right;">14</span></a>
                <a id="solosel" href="#" class="list-group-item list-group-item-action justify-content-between align-items-center">모든색<span id="solocount" class="badge badge-primary badge-pill" style="float: right;">14</span></a>
                <a id="othersel" href="#" class="list-group-item list-group-item-action justify-content-between align-items-center">기타색<span id="othercount" class="badge badge-primary badge-pill" style="float: right;">14</span></a>
            </div>

        </div>
    </div>
</div>