<div class="d-sm-flex align-items-center justify-content-between mb-4 mt-3">
    <h1 class="h3 mb-0 text-gray-800">인식범위</h1>
</div>
<div class="card o-hidden border-0 shadow-lg my-1 w-100 h-100">
    <div class="card-body p-0">
        <!-- Nested Row within Card Body -->

        <div class="p-5">
            <div id="rectsize" class="mx-auto mb-2" style="border: 1px solid red; width: 10px; height: 10px;">
            </div>
            <div class="input-group mb-3 w-100" data-placement="bottom" data-toggle="popover" data-content="출입자가 들어올때 인식범위기준</br> 왼쪽(좌)에서 오른쪽(우)로 이동하는경우</br>동작감지가 필요하면 클릭해주세요" data-trigger="hover" data-original-title="출입 반전" data-html="true">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default">인식범위 넓이</span>
                </div>
                <input id="width" type="number" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
            </div>
            <div class="input-group mb-3 w-100">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default">인식범위 높이</span>
                </div>
                <input id="height" type="number" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
            </div>
            <div class="input-group mb-3 w-100">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default">인식범위 표시</span>
                </div>

                <button id="activebutton1" type="button" value="0" class="btn btn-secondary">비활성화중</button>
            </div>
        </div>
    </div>
</div>